POSTGRES_USER=malta
POSTGRES_PASSWORD=malta_dev_password
POSTGRES_DB=malta_marketplace
POSTGRES_PORT=5432
API_PORT=3000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
ALLOW_MOCK_PURCHASES=true